body{
	background-color: #37474F;
}

#page{
	display: flex;
	width: 75%;
	margin-left: auto;
  margin-right: auto;
  background-color: snow;
}

#page aside{
	width: 35%;
	background-color: #1A237E;
	color: white;
	display: block;
}

#page aside img {
 	border-radius: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#profil{
	padding-top: 20px;
    padding-bottom: 20px;
}

#page h3{
	font-size: 1.3em;
}

#page aside h3 {
    background-color: snow;
    color: #1A237E;
    text-align: center;
    padding: 5px;
}

#page aside .content{
	margin-left: 10%;
	margin-right: 10%;
    font-size: 1em;
}

.fontawesome{
	display: flex;
    justify-content: center;
    margin-left: 7px;
    margin-top: 11px;
}
#loisir{
	display: flex;
	justify-content: space-around;
	padding-top: 15px;
    padding-bottom: 15px;
}

.loisir{
	display: inline-flex;
	border-color: white;
    border-radius: 50%;
    border-style: solid;
   	width: 55px;
    height: 55px;
}

#page main{
	width: 65%;
	display: block;
	margin-left: 8%;
	margin-right: 5%;
	padding-top: 20px;
}

#prenom{
	color: #1A237E;
}

#titre{
	margin-top: 77px;
}

#titre h1{
	font-size: 2.4em;
}

#titre h3{
	color: dimgray;
}

#titre strong{
	color: dimgrey;
	font-size: 1.5em;
}

#titre strong span{
	border-bottom-style: solid;
  border-bottom-color: #1A237E;
  border-bottom-width: 3px;
}

#page main .fas{
	color: #1A237E;
}

#formation{
	margin-top: 79px;
}

#formation b{
	font-size: 1.6em;
	margin-left: 20px;
}

.cercle{
	display: flex;
	justify-content: center;
	border-color: #1A237E;
    border-radius: 50%;
    border-style: solid;
    width: 12px;
    height: 12px;
    border-width: 3px;
    margin-right: 15px;
}

.date{
	width: 30%;
	display: flex;
}

.description{
	width: 70%;
	float: right;
	margin-left: 100px;
}

.description p{
	font-size: 0.8em;
}

.centre{
	font-size: 0.6em;
    margin-top: 2.5px;    
}

.point{
	margin-top: 5px;
	margin-right: 15px;
	font-size: 0.7em;
}

#ecole-multimedia{
	width: 100%;
	display: flex;
	margin-top: 36px;
}

#pontoise{
	width: 100%;
	display: flex;
	margin-top: 10px;
}

#estm{
	width: 100%;
	display: flex;
	margin-top: 10px;
}

#experiences{
	margin-top: 47px;
}

#experiences b{
	font-size: 1.6em;
	margin-left: 20px;
}

#third{
	width: 100%;
	display: flex;
	margin-top: 40px;
}

#second{
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}

#first{
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}

#recommandation{
	margin-top: 47px;
}

#recommandation b{
	font-size: 1.6em;
	margin-left: 20px;
}


#ndiaye{
	width: 60%;
	float: left;
	margin-top: 20px;
}

#tao{
	width: 40%;
	float: left;
	margin-top: 20px;
}

.trait{
	font-style: #1A237E;
}